
body{
	background-image:url("pexels-photo-414660.jpeg");
	

    }
.header{
	height:25%;
	background-image: linear-gradient(to right top, #ffffff, #fcfbff, #faf6fe, #f9f2fd, #f8edfb, #f8eafb, #f9e6fa, #fae3f9, #fbe0fa, #fcdefb, #fedbfb, #ffd8fc);
       }
.header-logo img{
    float:left;
    height:150%;
    width:30%;
            } 
.header-desc{
    text-align:center;
    font-size:120px;
	font-family:Brush Script MT,Brush Script Std,cursive;
            }
			
.main img{
    float:right;
	border-radius:8px;
	width:30%;
	height:60%
	     }	
	